.user-pic {
  height: 250px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
}

.user-msg {
  font-weight: normal;
  text-align: center;
}

.user-name {
  font-style: italic;
  font-weight: bold;
}
