<div class="movie-container">
  <img class="movie-poster" [src]="movie.poster" [alt]="movie.name" />
  <div class="movie-spec">
    <h2>{{ movie.name }}</h2>
    <p>⭐ {{ movie.rating }}</p>
  </div>
  <button (click)="toggleSummary()">Toggle Summary</button>
  <button (click)="goToDetails(movie.id)">Info</button>
  <button (click)="goToEdit(movie.id)">Edit</button>
  <p *ngIf="show" class="movie-summary">{{ movie.summary }}</p>
  <div class="action-items">
    <app-counter></app-counter>
    <!-- Step 1 -->
    <button (click)="delMovie(movie.id)">Delete</button>
  </div>
</div>

<!-- <app-pipes></app-pipes> -->
